DATABASE_URL="postgresql://root:letme1n@localhost:5432/vecsys-exam?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://root:letme1n@localhost:5432/vecsys-exam"

SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

JWT_SECRET=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=1